<% include ./partials/header %>


<div class="logo col-md-12">
    <img alt="Minimal Clean Responsive" height="220px; " id="logo" src="http://2.bp.blogspot.com/-X06cj7cX0X8/VQ7IoUng9cI/AAAAAAAAEhM/2TNeAsAsTV8/s1600/MINIMAL-LOGO-NEW.png" width="420px;" class="center-block img-responsive">
</div>

<div class="left-bar container col-md-offset-1 col-md-6">
          <% posts.forEach(function(post){ %>
               <div class="article">
                   <div class="category col-md-12">
                       <a href="/blog/category/<%= post.category %>"><p><%= post.category %></p></a>               
                   </div>
                   <div class="title col-md-12">
                       <a href="/blog/<%= post.id %>"><%= post.title %></a>  
                   </div>
                   <div class="date col-md-12">
                      <p><%= moment(post.date).format("MMM Do YY") %></p>                 
                   </div> 
                    <a href="/blog/<%= post.id %>"><img src="/uploads/<%= post.mainImageName %>" alt="<%= post.mainImageName %>" class='image img-responsive' ></a>                
                   <div class="body col-md-12">
                      <p><%= post.body %></p>                
                   </div>
                   <div class="readMore col-md-12">
                       <a href="/blog/<%= post.id %>"><button type="button" class="readMoreBtn btn btn-success ">Read More...</button></a>                
                   </div>
                   <div class="post-share col-md-12">
                        <a href="#" target="_blank"><span class="share-box"><i class="fa fa-facebook"></i></span></a>
                        <a href="#" target="_blank"><span class="share-box"><i class="fa fa-twitter"></i></span></a>
                        <a href="#" target="_blank"><span class="share-box"><i class="fa fa-instagram"></i></span></a>
                   </div>
                </div> 
           <% }); %> 
            
</div>



<% include right-bar %>


<% include ./partials/footer %>