<div class="right-bar container col-md-5">
   
   <div class="rightBarWidget">
      <h2 class="rightBartitle"><span class="titlePost">ABOUT ME</span></h2>
      <div class="aboutMeImg">
          <img src="/uploads/me.jpeg" class="center-block img-responsive">
      </div>
      <div class="aboutMeText">
          <p>I'm Rabeca - I'm a Sneakeraholic. I'm passionate at Beauty, Travel, Fashion. This blog is a place where I want to share all the things I love to you! Keep</p>
      </div>
   </div>
      
      
   <div class="rightBarWidget">
       <h2 class="rightBartitle"><span class="titlePost">CATEGORIES</span></h2>
       <div class="cats-content">
           <ul class="categories">
                <% cats.forEach(function(cat){ %>
                    <a href="/blog/category/<%= cat %>"><li class="sumCategories"><%= cat %></li></a>
                <% }); %> 
            </ul>
       </div>
    </div>

    
    <div class="rightBarWidget">
       <h2 class="rightBartitle"><span class="titlePost">BLOG ARCHIVE</span></h2>
       <div class="date-content">
           <ul class="dates">
                <% months.forEach(function(month){ %>
                    <a href="/blog/date/<%= month %>"><li class="sumMonths"><%= month %></li></a>
                <% }); %> 
            </ul>
       </div>
    </div> 
    
    <div class="rightBarWidget">
       <h2 class="rightBartitle"><span class="titlePost">FOLLOW US</span></h2>
          <div class="row">
              <ul class="followUs col-md-12">
                <li class="col-md-4"><a href="#" class="facebook" target="_blank" title="Facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                <li class="col-md-4"><a href="#" class="twitter" target="_blank" title="Twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li class="col-md-4"><a href="#" class="instagram" target="_blank" title="Instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
            </ul>
          </div>
           
    </div>
    
    <div class="rightBarWidget">
       <h2 class="rightBartitle"><span class="titlePost">RECENT POST</span></h2>
       <div class="recentPost-content">
           <ul class="recentPost">
                <% recentPosts.forEach(function(recentPost){ %>
                    <div class="row">
                        <div class="side-item col-md-12">
                           <div class="side-image">
                               <a href="/blog/<%= recentPost.id %>"><img src="/uploads/<%= recentPost.mainImageName %>" alt="<%= recentPost.mainImageName %>" class='image img-responsive' ></a>
                           </div>
                           <div class="side-text">
                               <a href="/blog/<%= recentPost.id %>"><h4 class="side-title"><%= recentPost.title %></h4></a>
                               <p class="side-date"><%= moment(recentPost.date).format("MMM Do YY") %></p>  
                           </div>
                            
                        </div>
                    </div>         
              
                <% }); %> 
            </ul>
       </div>
    </div> 
    
 
</div>
