<% include ./partials/header %>

<div class="logo col-md-12">
    <img alt="Minimal Clean Responsive" height="220px; " id="logo" src="http://2.bp.blogspot.com/-X06cj7cX0X8/VQ7IoUng9cI/AAAAAAAAEhM/2TNeAsAsTV8/s1600/MINIMAL-LOGO-NEW.png" width="420px;" class="center-block img-responsive">
</div>

<div class="container col-md-offset-2 col-md-5">
            <div class="article">
               <div class="category col-md-12">
                  <p><%= idPost.category %></p>                 
               </div>
               <div class="title col-md-12">
                   <a href="/blog/<%= idPost.id %>"><%= idPost.title %></a>  
               </div>
               <div class="date col-md-12">
                  <p><%= moment(idPost.date).format("MMM Do YY") %></p>                 
               </div> 

               <img src="/uploads/<%= idPost.mainImageName %>" alt="<%= idPost.mainImageName %>" class='image'>                 

               <div class="body col-md-12">
                  <p><%= idPost.body %></p>                
               </div>
            </div> 
</div>





<% include ./partials/footer %>