<% include ./partials/header %>

<div class="col-md-8">
    <div class="container">
           <div class="content-grid-info">                   
                <img src="/uploads/<%= post.mainImageName %>" alt="">
                <div class="post-info">
                    <h4><%= post.title %> by <%= post.author %> on <%= moment(post.date).format("MMM Do YY") %></h4>
                    <p><%= post.body %></p>
                </div>
            </div> 
    </div>
</div>






<% include ./partials/footer %>